.main-menu{}
.main-menu ul{
    list-style: none;
}
.main-menu ul li{
    display: inline-block;
    padding: 20px 20px;
}
.main-menu ul li a{
    text-decoration: none;
}
.header-info{}
.header-search {
	width: 30px;
	font-size: 20px;
	text-align: center;
	margin-left: -80px;
	border-right: 1px solid #d5bfbf;
	height: 33px;
}
.header-call{
    display: block;
}
.header-call-icon {
	margin-left: 10px;
	font-size: 30px;
	width: 37px;
	text-align: center;
	color: #e73c3e;
	line-height: 37px;
	margin-right: 10px;
	height: 22px;
}
.header-call-info{
}
.header-call-info span{}
.header-call-info a{}
.header-btn{}